.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

data
mongo-dump
*.archive
*.bson
*.dump
*.zip

pcrf_normalization/pcfrf*
pcrf_normalization/postal_riding*
pcrf_normalization/*.csv
