PORT="Port number for the server to listen on (e.g., 5000)"
MONGODB_URI="MongoDB connection URI (e.g., mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER_URL/course_project_nacss?retryWrites=true&w=majority)"